<div class="container-md">

  <input type="text" id="input-busca" class="form-control mb-3">

  <table class="table">
  <thead class="table-dark">
  <tr>
  <th> Nome </th>
   <th> Mesa </th>
   <th> VaR</th>
   <th> Alerta VaR</th>
   <th> Stress</th>
   <th> Alerta Stress</th>
   <th></th>
  </tr>
</thead>
  <tbody id="tabela-fundos">
  <tr *ngFor="let fundo of fundos">
    <td> <a href="detalhes/sacss"> {{ fundo.nome }} </a> </td>
    <td> {{ fundo.mesa }} </td>
    <td [ngClass]="alertColor(fundo.var)"> {{ fundo.var | currency }}</td>
    <td> {{ fundo.alertaVar }} </td>
    <td> {{ fundo.stress | currency : 'BRL'}} </td>
    <td> {{ fundo.alertaStress  }} </td>
    <td>
         <button type="button" class="btn btn-dark m-1"> Editar </button>
         <button type="button" class="btn btn-danger"> Excluir </button>
    </td>

  </tr>
</tbody>
</table>
</div>
