
.card-item{
  width: 100%;
  background-color: darkslategray;
  border: solid 1px white;
  text-align: center;
  color: white;
  display: flex;
}

.card-item-sinal{
  width: 20%;
}

.card-item-nome{
  width: 80%;
}
